<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar class="pl-4" color="moderate-red">
          <i class="fas fa-bell fa-pull-right p-2"></i>
          <ion-img src="assets/images/profile-placeholder.png" class="profile-photo"></ion-img>
          <h4 class="mt-2 mb-0"><b>JOHN DOE</b></h4>
          <h6 class="mt-0 mb-4">User Name</h6>
        </ion-toolbar>
      </ion-header>
      <ion-content color="gambogeish-black">
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" color="gambogeish-black" class="border-0">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
