.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.cont-upper{
  height: 25vh;
  background-color: var(--ion-color-gambogeish-black);
}
.cont-lower{
  height: calc(100% - 25vh);
  background-color: var(--ion-color-moderate-red);
  padding-top: 4vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}
.cont-lower .cont-user{
  font-size: 4vh;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
}
.cont-logo{
  position: absolute;
  top: 4vh;
  left: calc(50% - 12.5vh);
  height: 25vh;
  width: 25vh;
  border: solid 2vh var(--ion-color-gambogeish-black);
  border-radius: 100%;
  background-color: #fff;
  color: var(--ion-color-gambogeish-black);
  margin: 0 auto;
  z-index: 1;
}
.cont-logo ion-img{
  width: 50%;
  margin: 0 auto;
  margin-top: 1vh;
}
.cont-logo h4,
.cont-logo h5{
  margin: 0;
}
.info-policy{
  background-color: var(--ion-color-gambogeish-black);
  color: #fff;
}
.info-policy .policy-image{
  padding: 1.5vh;
}
.menu-home{
  margin-top: .5vh;
}
.menu-home i{
  font-size: 3.5vh;
}
.menu-home .menu-option{
  background-color: var(--ion-color-gambogeish-black);
  color: #fff;
  padding: 2vh;
}
.menu-home .menu-option:not(:last-child){
  border-right: solid .5vh var(--ion-color-moderate-red);
}
.menu-home .menu-option p{
  font-size: 1.2vh;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}