.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.cont-upper{
  height: 25vh;
  background-color: var(--ion-color-gambogeish-black);
}
.cont-lower{
  height: calc(100% - 25vh);
  background-color: var(--ion-color-moderate-red);
}
.cont-logo{
  position: absolute;
  top: 4vh;
  left: calc(50% - 12.5vh);
  height: 25vh;
  width: 25vh;
  border: solid 2vh var(--ion-color-gambogeish-black);
  border-radius: 100%;
  background-color: #fff;
  color: var(--ion-color-gambogeish-black);
  margin: 0 auto;
  z-index: 1;
}
.cont-logo ion-img{
  width: 50%;
  margin: 0 auto;
  margin-top: 1vh;
}
.cont-logo h4,
.cont-logo h5{
  margin: 0;
}