<ion-header>
  <ion-toolbar color="gambogeish-black">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cont-upper">
      <div class="cont-logo ion-text-center">
        <ion-img src="assets/logo_blc.png"></ion-img>
        <h4><b>BUY LowCost</b></h4>
        <h5>Insurance</h5>
      </div>
    </div>
    <div class="cont-lower">

    </div>
</ion-content>
